
<form action="/code" method="get">
    <textarea cols="100" id="id_content" name="code2" rows="50"></textarea>
  <input id="submit_button" type="submit" value="Submit code" />
    </form>
    {{#if out}}
    <h4>output</h4>
<p>{{out}}</p>
{{/if}}