.App {
 
}

.center {
  margin:0 auto;
}
.position{
  position: absolute
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.menu{
   float: right;
   top:0
}
.App-header {
  background-color: white;
  height: 40px;
  color: white;
    border-color: white white #111;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
