.App {
 
}

.center {
  margin:0 auto;
}
.position{
  position: absolute
}
.menu{
   float: right;
   top:0
}
.App-header {
  background-color: white;
  height: 40px;
  color: white;
    border-color: white white #111;
}
.App-intro {
  font-size: large;
}

